/*  */
.intersectionLeftToRight25pxAndOpacity0To1 {
    transform: translateX(-25px);
    opacity: 0;
    transition: all 800ms;
}

.intersected.intersectionLeftToRight25pxAndOpacity0To1 {
    transform: translateX(0px);
    opacity: 1;
}

/*  */
.intersectionLeftToRight200pxAndOpacity0To1 {
    transform: translateX(-200px);
    opacity: 0;
    transition: all 800ms;
}

.intersected.intersectionLeftToRight200pxAndOpacity0To1 {
    transform: translateX(0px);
    opacity: 1;
}

/*  */
.intersectionRightToLeft200pxAndOpacity0To1 {
    transform: translateX(200px);
    opacity: 0;
    transition: all 800ms;
}

.intersected.intersectionRightToLeft200pxAndOpacity0To1 {
    transform: translateX(0px);
    opacity: 1;
}

/*  */